<div class="container">
    <div class="page">
        <h1>Welcome</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, obcaecati voluptatum ratione dolorum nisi officia sequi et, vitae assumenda ullam dolorem error, officiis quam dignissimos. Eius tempora maiores fugit hic.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, dolorem doloremque quasi doloribus id debitis molestiae veritatis fugit recusandae. Quaerat quam earum ipsum pariatur sit ea cupiditate tempore molestias voluptate?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, inventore quasi veniam cumque voluptatem nam eveniet architecto obcaecati vel doloremque odio perspiciatis repellat reprehenderit, officiis quas provident omnis. Assumenda, distinctio.
        </p>
    </div>
</div>