<div class="container">
        <div class="content">
        <h1>Welcome</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda debitis blanditiis reprehenderit eius repellendus ullam minus maxime ut enim porro, labore, magni quo impedit expedita molestias magnam ea neque voluptates?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita veritatis earum esse in nulla natus nam atque necessitatibus blanditiis voluptate! Placeat in ipsum quibusdam tempora aliquid assumenda repellendus sit quasi.</p>
    </div>
</div>